@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body {
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-weight: bold;
  text-align: center;
  background-image: url("background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-weight: 300;
  margin: 10px 0;
  padding: 10px;
  font-size: 30px;
  background-color: #ff000048;
  color: #fff;
}

.quiz-container {
  width: 50%;
  background-color: rgba(34, 119, 153, 0.504);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.question {
  font-size: 24px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
}

.answers label {
  display: block;
  margin-bottom: 10px;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 5px;
}

button:hover {
  background-color: #38a;
}

#results {
  margin: 20px;
}

.slide {
  display: none;
}

.active-slide {
  display: block;
}
